@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: oblique;
    font-size: 1.25rem ;
    color: black;
   
}
/*Carousel*/
/* Desktop height */
.carousel-item img {
    height: 300px;
    object-fit: cover;
    opacity: 0.80;
}
/* Mobile height (phones) */
@media (max-width: 768px) {
    .carousel-item img {
        height: 150px;
    }
}